---
title: 雇用验证 i9 验证
description: 《移民改革和控制法案》要求美国雇主验证新雇用员工的雇用资格状态。
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ab03e28b3e42d02395da01024bc3bcf4dbcd5abf
ms.sourcegitcommit: b112925c389a460a98c3401cc2c67df7091b066f
ms.translationtype: HT
ms.contentlocale: zh-CN
ms.lasthandoff: 12/19/2020
ms.locfileid: "4798086"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="dc4da-103">雇用验证 i9 验证</span><span class="sxs-lookup"><span data-stu-id="dc4da-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="dc4da-104">《移民改革和控制法案》要求美国雇主验证新雇用员工的雇用资格状态。</span><span class="sxs-lookup"><span data-stu-id="dc4da-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="dc4da-105">此过程将向您介绍记录 I-9 验证所需文件的步骤。</span><span class="sxs-lookup"><span data-stu-id="dc4da-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="dc4da-106">此过程使用 USMF 公司演示。</span><span class="sxs-lookup"><span data-stu-id="dc4da-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="dc4da-107">转到“人力资源”>“工作人员”>“员工”。</span><span class="sxs-lookup"><span data-stu-id="dc4da-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="dc4da-108">使用“快速筛选器”以查找记录。</span><span class="sxs-lookup"><span data-stu-id="dc4da-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="dc4da-109">例如，使用值“Vince”在“名称”字段中进行筛选。</span><span class="sxs-lookup"><span data-stu-id="dc4da-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="dc4da-110">选择员工。</span><span class="sxs-lookup"><span data-stu-id="dc4da-110">Select the employee.</span></span> <span data-ttu-id="dc4da-111">示例：Vince Prado</span><span class="sxs-lookup"><span data-stu-id="dc4da-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="dc4da-112">展开“个人信息”快速选项卡。</span><span class="sxs-lookup"><span data-stu-id="dc4da-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="dc4da-113">单击“标识号”。</span><span class="sxs-lookup"><span data-stu-id="dc4da-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="dc4da-114">单击“新建”。</span><span class="sxs-lookup"><span data-stu-id="dc4da-114">Click New.</span></span>
7. <span data-ttu-id="dc4da-115">选择您要记录的标识类型。</span><span class="sxs-lookup"><span data-stu-id="dc4da-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="dc4da-116">示例：护照</span><span class="sxs-lookup"><span data-stu-id="dc4da-116">Example: Passport</span></span>
8. <span data-ttu-id="dc4da-117">在“编号”字段中，输入一个值。</span><span class="sxs-lookup"><span data-stu-id="dc4da-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="dc4da-118">在“主要”字段中选择“是”。</span><span class="sxs-lookup"><span data-stu-id="dc4da-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="dc4da-119">在“描述”字段中，输入标识记录的简短描述。</span><span class="sxs-lookup"><span data-stu-id="dc4da-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="dc4da-120">在签发机构中选择向该工作人员签发该类身份证明的机构。</span><span class="sxs-lookup"><span data-stu-id="dc4da-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="dc4da-121">示例：政府</span><span class="sxs-lookup"><span data-stu-id="dc4da-121">Example: Government</span></span>
12. <span data-ttu-id="dc4da-122">输入签发机构向该工作人员签发该类身份证明的日期。</span><span class="sxs-lookup"><span data-stu-id="dc4da-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="dc4da-123">示例：02/15/2011</span><span class="sxs-lookup"><span data-stu-id="dc4da-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="dc4da-124">输入该类身份证明的过期日期。</span><span class="sxs-lookup"><span data-stu-id="dc4da-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="dc4da-125">示例：2/15/2021</span><span class="sxs-lookup"><span data-stu-id="dc4da-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="dc4da-126">单击“保存”。</span><span class="sxs-lookup"><span data-stu-id="dc4da-126">Click Save.</span></span>
15. <span data-ttu-id="dc4da-127">关闭该页面。</span><span class="sxs-lookup"><span data-stu-id="dc4da-127">Close the page.</span></span>
16. <span data-ttu-id="dc4da-128">单击“雇用”选项卡。</span><span class="sxs-lookup"><span data-stu-id="dc4da-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="dc4da-129">单击 I-9。</span><span class="sxs-lookup"><span data-stu-id="dc4da-129">Click I-9.</span></span>
18. <span data-ttu-id="dc4da-130">单击“新建”。</span><span class="sxs-lookup"><span data-stu-id="dc4da-130">Click New.</span></span>
19. <span data-ttu-id="dc4da-131">在“工作资格”字段中，选择一个选项。</span><span class="sxs-lookup"><span data-stu-id="dc4da-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="dc4da-132">如果员工不是美国公民，您必须输入工作人员的外籍居民编号或准许入境编号。</span><span class="sxs-lookup"><span data-stu-id="dc4da-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="dc4da-133">选择“组列表 A”选项。</span><span class="sxs-lookup"><span data-stu-id="dc4da-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="dc4da-134">您选择何种列表取决于工作人员提供的身份证明。</span><span class="sxs-lookup"><span data-stu-id="dc4da-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="dc4da-135">工作人员必须提供列表 A 文件，或者列表 B 或 C 中的一个文件。例如，如果工作人员提供护照，则应选择列表 A。</span><span class="sxs-lookup"><span data-stu-id="dc4da-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="dc4da-136">但是，如果工作人员只提供其驾驶证和社保卡，则必须选择列表 B 和 C。</span><span class="sxs-lookup"><span data-stu-id="dc4da-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="dc4da-137">在“I-9 文件类型”字段中，选择该员工提供的文件类型。</span><span class="sxs-lookup"><span data-stu-id="dc4da-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="dc4da-138">在“单据编号”字段中，输入或选择一个值。</span><span class="sxs-lookup"><span data-stu-id="dc4da-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="dc4da-139">单击“保存”。</span><span class="sxs-lookup"><span data-stu-id="dc4da-139">Click Save.</span></span>

