---
title: 雇用验证 i9 验证
description: 《移民改革和控制法案》要求美国雇主验证新雇用员工的雇用资格状态。
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 544c298f83c4b1838a94aee95ed6038fcc1f4e4f
ms.sourcegitcommit: 3ba95d50b8262fa0f43d4faad76adac4d05eb3ea
ms.translationtype: HT
ms.contentlocale: zh-CN
ms.lasthandoff: 09/27/2019
ms.locfileid: "2176716"
---
# <a name="employment-verification-i9-verification"></a>雇用验证 i9 验证

[!include [task guide banner](../../../includes/task-guide-banner.md)]

《移民改革和控制法案》要求美国雇主验证新雇用员工的雇用资格状态。 此过程将向您介绍记录 I-9 验证所需文件的步骤。 此过程使用 USMF 公司演示。

1. 转到“人力资源”>“工作人员”>“员工”。
2. 使用“快速筛选器”以查找记录。 例如，使用值“Vince”在“名称”字段中进行筛选。
3. 选择员工。 示例：Vince Prado
4. 展开“个人信息”快速选项卡。
5. 单击“标识号”。
6. 单击“新建”。
7. 选择您要记录的标识类型。 示例：护照
8. 在“编号”字段中，输入一个值。
9. 在“主要”字段中选择“是”。
10. 在“描述”字段中，输入标识记录的简短描述。
11. 在签发机构中选择向该工作人员签发该类身份证明的机构。 示例：政府
12. 输入签发机构向该工作人员签发该类身份证明的日期。 示例：02/15/2011
13. 输入该类身份证明的过期日期。 示例：2/15/2021
14. 单击“保存”。
15. 关闭该页面。
16. 单击“雇用”选项卡。
17. 单击 I-9。
18. 单击“新建”。
19. 在“工作资格”字段中，选择一个选项。
    * 如果员工不是美国公民，您必须输入工作人员的外籍居民编号或准许入境编号。  
20. 选择“组列表 A”选项。
    * 您选择何种列表取决于工作人员提供的身份证明。 工作人员必须提供列表 A 文件，或者列表 B 或 C 中的一个文件。例如，如果工作人员提供护照，则应选择列表 A。 但是，如果工作人员只提供其驾驶证和社保卡，则必须选择列表 B 和 C。  
21. 在“I-9 文件类型”字段中，选择该员工提供的文件类型。
22. 在“单据编号”字段中，输入或选择一个值。
23. 单击“保存”。

