---
title: 雇用验证 i9 验证
description: 《移民改革和控制法案》要求美国雇主验证新雇用员工的雇用资格状态。
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ea77f112413a5b7d5c96768ad46fdb361023bd84
ms.sourcegitcommit: 27475081f3d2d96cf655b6afdc97be9fb719c04d
ms.translationtype: HT
ms.contentlocale: zh-CN
ms.lasthandoff: 01/12/2022
ms.locfileid: "7964875"
---
# <a name="employment-verification-i9-verification"></a>雇用验证 i9 验证

[!include [banner](../../../includes/banner.md)]

《移民改革和控制法案》要求美国雇主验证新雇用员工的雇用资格状态。 此过程将向您介绍记录 I-9 验证所需文件的步骤。 此过程使用 USMF 公司演示。

1. 转到 **人力资源 \> 工作人员 \> 员工**。
2. 使用“快速筛选器”以查找记录。 例如，使用 **名称** 字段的 **Vince** 值进行筛选。
3. 选择员工。 例如，选择 **Vince Prado**。
4. 选择 **个人信息** 快速选项卡。
5. 选择 **标识号**。
6. 选择 **新建**。
7. 选择您要记录的标识类型。 例如，选择 **护照**。
8. 在 **编号** 字段中，输入一个值。
9. 在 **主要** 字段中选择 **是**。
10. 在 **描述** 字段中，输入标识记录的简短描述。
11. 在 **签发机构** 字段中，选择向该工作人员签发该类身份证明的机构。 例如，选择 **政府**。
12. 输入签发机构向该工作人员签发该类身份证明的日期。 例如，输入 **02/15/2011**（2011 年 2 月 15 日）。
13. 输入该类身份证明的过期日期。 例如，输入 **2/15/2021**（2021 年 2 月 15 日）。
14. 选择 **保存**。
15. 关闭该页面。
16. 选择 **雇用** 选项卡。
17. 选择 **I-9**。
18. 选择 **新建**。
19. 在 **工作资格** 字段中，选择一个选项。

    如果员工不是美国公民，您必须输入工作人员的外籍居民编号或准许入境编号。

20. 选择 **组列表 A** 选项。

    您选择何种列表取决于工作人员提供的身份证明类型。 工作人员必须提供列表 A 中的一个文件，或者同时位于列表 B 和 C 中的一个文件。例如，如果工作人员提供护照，则您可以选择列表 A。但是，如果工作人员只提供其驾驶证和社保卡，则必须选择列表 B 和列表 C。

21. 在 **I-9 文件类型** 字段中，选择该员工提供的文件类型。
22. 在 **文件编号** 字段中，输入或选择一个值。
23. 选择 **保存**。

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
